@use 'variables';

header {
    background-image: url('../../build/images/hero.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    height: auto;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1210px;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        &__menu{
            &__ul{
                display: flex;
                align-items: center;
                list-style: none;
                &__li{
                    float: left;
                    a{
                        color: variables.$corGelo;
                        text-decoration: none;
                        padding: 14px 16px;
                        display: block;
                        transition: all .5s ease;
                        &:hover{
                            color: variables.$corMenuHover;
                        }
                    }
                    img{
                        width: 216px;
                        height: 58px;
                        padding: 0;
                    }
                }
            }
        }
        &__social{
           &__media{
                 &__item{
                    display: inline-block;
                    padding: 12px;
                    img{
                        width: 35px;
                     }
                }
           }
        }
    }
     .text{
            max-width: 1777px;
            width: 100%;
            color: #fff;
            &__content{
                width: 800px;
                display: block;
                margin: 180px auto 0;
                text-align: center;
                h2{
                    font-weight: bold;
                    font-size: 74px;
                    line-height: 84px;
                }
                p{
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 40px;
                }
                .btn-normal{
                    border: none;
                    padding: 10px;
                    margin: 35px auto 0;
                    background-color: #007bff;
                    width: 236px;
                    height: 52px;
                    color: #fff;
                    border-radius: 40px;
                    cursor: pointer;
                }
                
            }
        }
    
}